<div class="row">
  <div class="col-12 col-sm-7">
    <div class="main-background">
      <div class="form-group">
        <div class="e-btn-group">
          <button
            ejs-button
            [ngClass]="{ 'checked' : category.type == typeEnum.Income }"
            (click)="category.type = typeEnum.Income">
            Income
          </button>
          <button
            ejs-button
            [ngClass]="{ 'checked' : category.type == typeEnum.Expense }"
            (click)="category.type = typeEnum.Expense">
            Expense
          </button>
        </div>
      </div>
      
      <div class="form-group">
        <label for="title" class="control-label">Title</label>
        <input id="title" name="title" type="text" class="form-control" />
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="d-flex">
            <div class="my-auto">
              <i class="{{iconClass}} fa-2x"></i>
            </div>
            <button
              class="btn btn-info ml-4"
              [ipIconPack]="['fa']"
              [iconPicker]="iconClass"
              (iconPickerSelect)="onIconPickerSelect($event)">
              select icon
            </button>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <button class="btn btn-success flex-grow-1 mr-1">Save</button>
        <button class="btn btn-secondary flex-grow-1 ml-1">Cancel</button>
      </div>
    </div>
  </div>
</div>