/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './variables.scss';

// regular style toast
@import '~ngx-toastr/toastr';

@font-face {
  font-family: 'LucidaSansUnicode';
  src: url('./assets/fonts/Lucida\ Sans\ Unicode.ttf')
}

*:not(.fa-solid):not(.fa) {
  font-family: LucidaSansUnicode;
}

body {
  font-size: 14px;
  background-color: $primary-background-color;
  color: $primary-color;
}
