$primary-background-color: #13171C;
$secondary-background-color: #1A222B;
$grid-header-background-color: #222b33;
$primary-color: #FCFEFF;
$secondary-color: #A9A39C;

$danger-color: #BD2C50;

$corner-radius-full: 1rem;
$corner-radius-bootstrap: .25rem;
$corner-radius-half: 0.5rem;
